<div class="header-wrapper container">


    <nav class="menu">
        <a href="./index.html" class="logo">
            <svg class="icon-logo" width="24" height="24">
                <use href="../img/icons.svg#icon-logo"></use>
            </svg>
            <span class="logo-book"></span>Bookshelf</span>
        </a>
        <ul class="site-nav">
            <li class="it-list header-home-link"><a href="./index.html" class="item-book link">home</a></li>
            <li class="it-list header-shop-list-link"><a href="../shop-list.html" class="item-book link">shopping list
                    <svg class="icon-logo" width="20" height="20">
                        <use href="../img/icons.svg#icon-basket"></use>
                    </svg>
                </a></li>
        </ul>
    </nav>


    <div class="wrap-switch-prof">

        <div class="wrap-switch-burger">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <div class="slider"></div>
                </label>
            </div>

            <button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false"
                aria-controls="mobile-menu">
                <svg class="icon-hamburg" width="28" height="28">
                    <use href="../img/icons.svg#icon-burger-menu">
                    </use>
                </svg>
            </button>
        </div>


        <ul class="list-profile">
            <li>
                <button type="button" class="profile-btn">
                    <div class="wrap-icon">
                        <svg class="icon-unknown-user" width="19" height="19">
                            <use href="../img/icons.svg#icon-unknown-user"></use>
                        </svg>
                    </div>
                    Profile
                    <svg class="icon-logined-caret-down" width="23" height="26">
                        <use href="../img/icons.svg#icon-logined-caret-down"></use>
                    </svg>
                </button>
            </li>

            <li class="sign-out wrap-sign-hide">
                <button type="button" class="profile-btn-log-out">
                    Log out
                    <svg class="icon-log-in-out-arrow-right" width="20" height="20">
                        <use href="../img/icons.svg#icon-log-in-out-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="sign-in wrap-sign-hide">
                <button type="button" class="profile-btn-log-in">
                    Sign in
                    <svg class="icon-log-in-out-arrow-right" width="20" height="20">
                        <use href="../img/icons.svg#icon-log-in-out-arrow-right"></use>
                    </svg>
                </button>
            </li>

        </ul>
    </div>
</div>


<!-- <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
        <a href="./index.html" class="logo">
            <svg class="icon-logo" width="24" height="24">
                <use href="../img/icons.svg#icon-logo"></use>
            </svg>
            <span class="logo-book"></span>Bookshelf</span>
        </a>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="slider"></div>
            </label>
        </div>
        <button type="button" class="mobile-close-btn js-close-menu">
            <svg class="mobile-close-btn-icon" width="25" height="25">
                <use href="../img/icons.svg#icon-x-close"></use>
            </svg>
        </button>

    </div>
</div> -->