<div class="container header">
    <div class="left-col">
        <a href="./index.html" class="logo">
            <svg width="24" height="24">
                <use href="./img/icons.svg#icon-logo">
            </svg> bookshelf </a>
        <ul class="menu">
            <li class="menu-item">
                <a href="./index.html" class="menu-link active">Home</a>
            </li>
            <li class="menu-item">
                <a href="./shopping-list.html" class="menu-link">Shopping list
                    <svg width="20" height="20">
                        <use href="./img/icons.svg#icon-basket">
                    </svg>
                </a>
            </li>

        </ul>
    </div>
    <div class="right-col">
        <label class="checkbox">
            <input type="checkbox">
            <span class="checkbox-switch"></span>
        </label>
        <button type="button" class="avatar">
            <svg width="23" height="26" class="icon">
                <use href="./img/icons.svg#icon-unknown-user">
            </svg>

            <p class="avatar-title">Stephen</p>
            <svg width="23" height="26" class="icon">
                <use href="./img/icons.svg#icon-scroll-up-arrow"></use>
            </svg>
        </button>
    </div>
</div>