<header class="header">

    <div class="container">
        <div class="left-col">
            <a href="./index.html" class="logo">
            <svg width="23" height="26" class="icon">
                <use href="./img/icons.svg#icon-logo">
            </svg>

            </a>
        <ul class="menu">
            <li class="menu-item"><a href="./index.html" class="menu-link active">Home</a></li>
            <li class="menu-item">
                <a href="./shopping-list.html" class="menu-link">Shopping list
                    <svg width="20" height="20">
                        <use href="./img/icons.svg#icon-basket">
                    </svg>
                </a>
            </li>

        </ul>
        </div>
        <div class="right-col">
            <div class="box-toggle">
                <div class="circle">

                </div>
            </div>
            <div class="avatar">
                <div class="avatar-box-img">
                    <svg width="23" height="26" class="icon">
                        <use href="./img/icons.svg#icon-unknown-user">
                    </svg>
                </div>
                <p class="avatar-title">Stephen</p>
                <svg width="23" height="26" class="icon">
                    <use href="./img/icons.svg#">
                </svg>
            </div>

        </div>

    </div>

</header>