<div class="category-wrapper">
  <!--
    <div>
      <h1 class="main-title">
        ${firstWords.join(' ')}
        <span class="main-title-span">${lastWord}</span>
      </h1>
    </div>
    <div class="wrapper-for-genre">
      <h2 class="list-name">${list_name}</h2>
      <ul class="category-list">
        <li class="wrapper">
          <a href="#" class="link"
            ><img class="img" src="${book_image}" />
            <h3 class="book-title">${title}</h3>
            <p class="book-author">${author}</p>
          </a>
        </li>
      </ul>
      <button class="button" type="button">See More</button>
    </div>
    -->
</div>
