<div class="category-wrapper">
  <!--
    <div>
      <h1 class="main-title">
        ${firstWords.join(' ')}
        <span class="main-title-span">${lastWord}</span>
      </h1>
    </div>
    <div class="wrapper-for-genre">
      <h2 class="list-name">${list_name}</h2>
      <ul class="category-list">
        <li class="wrapper-for-book">
          <a href="#" class="link"
            ><img class="img" src="${book_image}" />
            <h3 class="book-title">${title}</h3>
            <p class="book-author">${author}</p>
          </a>
        </li>
        <li class = "cork">
            <div class="cork-wraper-svg">
            <svg width="88" height="80">
              <use class="cork-use" href="./img/icons.svg#icon-cork-book"></use>
            </svg>
            <p class = "cork-text">Sorry, the book will be added later...</p>
            </div>
        </li> 
      </ul>
      <button class="btn-see-more" type="button">See More</button>
    </div>
    -->
  <a href="#" id="btn-to-top">
    <div>
      <svg width="24" height="24">
        <use
          class="scroll-up-arrow"
          href="./img/icons.svg#icon-scroll-up-arrow"
        ></use>
      </svg>
    </div>
  </a>
</div>
