<div class="container-info-book" id="myModal">
    <button
      class="close-btn js-modal-close"
      type="button"
      aria-label="close-icon"
      data-modal-close
    >
      <svg class="close-icon" width="28" height="28" stroke="var(--border)">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button> 
     
    <div class="content">
        <!-- <img class="img bookim" src="" alt="Book Image" />
        <div class="text-content">
            <h3 class = "book-tittle"></h3>
            <p class = "book-authoor"></p>
            <p class="book-descripption"></p>
            <ul class="list-shops">
                <li class="trading-platform amazon-platform">
                    <a class="link-shop" href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155" target="_blank">
                        <picture>
                            <source 
                            srcset="./img/internet-shops/amazon@1x.avif 1x,
                            ./img/internet-shops/amazon@2x.avif 2x" media="(min-width: 768px)" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/amazon@1x.png 1x,
                            ./img/internet-shops/amazon@1x.png 2x" media="(min-width: 768px)" type="image/png" />
                            <source 
                            srcset="./img/internet-shops/amazon@1x.avif 1x,
                            ./img/internet-shops/amazon@2x.avif 2x" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/amazon@1x.png 1x,
                            ./img/internet-shops/amazon@1x.png 2x" type="image/png" />
                            <img 
                                src="./img/internet-shops/amazon@1x.avif" 
                                alt="Amazon logo"
                                width="62"
                                height="19"
                                loading="lazy" />
                        </picture>
                    </a>
                </li>
                <li class="trading-platform">
                    <a class="link-shop" href="https://www.apple.com/ua/apple-books/" target="_blank">
                        <picture>
                            <source 
                            srcset="./img/internet-shops/book@1x.avif 1x,
                            ./img/internet-shops/book@2x.avif 2x" media="(min-width: 768px)" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/book@1x.png 1x,
                            ./img/internet-shops/book@2x.png 2x" media="(min-width: 768px)" type="image/png" />
                            <source 
                            srcset="./img/internet-shops/book@1x.avif 1x,
                            ./img/internet-shops/book@2x.avif 2x" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/book@1x.png 1x,
                            ./img/internet-shops/book@2x.png 2x" type="image/png" />
                            <img 
                                src="./img/internet-shops/book@1x.avif" 
                                alt="Apple books logo"
                                width="33"
                                height="32"
                                loading="lazy" />
                        </picture>
                    </a>
                </li>
                <li class="trading-platform">
                    <a class="link-shop" href="./index.html" target="_blank">
                        <picture>
                            <source 
                            srcset="./img/internet-shops/book-shop@1x.avif 1x,
                            ./img/internet-shops/book-shop@2x.avif 2x" media="(min-width: 768px)" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/book-shop@1x.png 1x,
                            ./img/internet-shops/book-shop@2x.png 2x" media="(min-width: 768px)" type="image/png" />
                            <source 
                            srcset="./img/internet-shops/book-shop@1x.avif 1x,
                            ./img/internet-shops/book-shop@2x.avif 2x" type="image/avif" />
                            <source 
                            srcset="./img/internet-shops/book-shop@1x.png 1x,
                            ./img/internet-shops/book-shop@2x.png 2x" type="image/png" />
                            <img 
                                src="./img/internet-shops/book-shop@1x.avif" 
                                alt="Book shop logo"
                                width="38"
                                height="36"
                                loading="lazy" />
                        </picture>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
    
    <button class="add-btn" type="submit">Add to shopping list</button>
    <p id="shoppingListMessage" class="shopping-btn-messege">Congratulations! You have added the book to the shopping list. To delete, press the button "Remove from the shopping list".</p>
</div>