<div class="container-info-book" id="myModal">
    <button
      class="close-btn js-modal-close"
      type="button"
      aria-label="close-icon"
      data-modal-close
    >
      <svg class="close-icon" width="28" height="28" stroke="var(--border)">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button> 
     
    <div class="content">
        <!-- <img class="img bookim" src="" alt="Book Image" />
        <div class="text-content">
            <h3 class = "book-tittle"></h3>
            <p class = "book-authoor"></p>
            <p class="book-descripption"></p>
            <ul class="list-shops">
                <li class="trading-platform amazon-platform">
                    <a href="${buy_links[0].url}" target="_blank" rel="noopener nofollow">
                        <img src="${amazonIcon}" alt="Amazon logo" width="62" height="19" />
                    </a>
                </li>
                <li class="trading-platform">
                    <a href="${buy_links[1].url}" target="_blank" rel="noopener nofollow">
                        <img src="${appleIcon}" alt="Apple books logo" width="33" height="32" />
                    </a>
                </li>
                <li class="trading-platform">
                    <a href="${buy_links[4].url}" target="_blank" rel="noopener nofollow">
                        <img src="${bookshopIcon}" alt="Book shop logo" width="38" height="36" />
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
    
    <button class="add-btn" type="submit">Add to shopping list</button>
    <p id="shoppingListMessage" class="shopping-btn-messege">Congratulations! You have added the book to the shopping list. To delete, press the button "Remove from the shopping list".</p>
</div>