<div class="start-modal">
  <button type="button" class="start-close-btn">
    <svg class="start-close-btn-svg" width="28" height="28">
      <use class="start-close-icon" href="./img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <form class="start-form" name="start-form">
    <div class="start-modal-intup-el">
      <input class="start-input" type="text" name="name" placeholder="NAME" />
    </div>
    <div class="start-modal-intup-el">
      <input
        class="start-input"
        type="email"
        name="email"
        placeholder="EMAIL"
      />
      <svg class="input-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-mail"></use>
      </svg>
    </div>
    <div class="start-modal-intup-el">
      <input
        class="start-input"
        type="password"
        name="password"
        placeholder="PASSWORD"
      />
      <svg class="input-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-lock"></use>
      </svg>
    </div>

    <button class="start-form-btn" type="submit">SIGN UP</button>
  </form>
  <div class="start-up-in">
    <a class="start-up-text" href="">SIGN UP</a>
    <a class="start-in-text" href="">SIGN IN</a>
  </div>
</div>
