:root {
    --brand-color: #4F2EE8;
    --accent-color: #EAC645;
    --text-color: #111;
    --border: #111;
    --main-background: #F3F3F3;
    --category: rgba(17, 17, 17, 0.60);
    --active-category: #4F2EE8;
    --second-text-card: #B4AFAF;
    --fund-background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    --menu-background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    --popup-message: rgba(17, 17, 17, 0.50);
    --default-text-shop-list: rgba(0, 0, 0, 0.60);
    --shop-list-card-border: rgba(79, 46, 232, 0.4);
    --start-backdrop-gradient-bg: rgba(204, 236, 231, 0.50);
    --start-backdrop-gradient-filter: blur(539.7910766601562px);
    --start-modal-bg: #F6F6F6;
    --start-modal-text-border: #111;
    --start-modal-btn-bg: #111;
    --start-modal-btn-text: #F3F3F3;
    --popup-filter-shop: grayscale(100%);
    --popup-filter-shop-amazon: grayscale(100%);
    --popup-filter-shop-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35));
    --popup-backdrop: rgba(17, 17, 17, 0.40);
}

.dark {
    --text-color: #fff;
    --border: #fff;
    --main-background: #202024;
    --category: rgba(255, 255, 255, 0.60);
    --active-category: #EAC645;
    --popup-message: rgba(255, 255, 255, 0.50);
    --default-text-shop-list: rgba(255, 255, 255, 0.60);
    --start-modal-bg: #202024;
    --start-modal-text-border: #F6F6F6;
    --start-modal-btn-bg: #F6F6F6;
    --start-modal-btn-text: #202024;
    --popup-filter-shop-amazon: brightness(0) invert(1);
    --popup-filter-shop-hover: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body {
    font: 400 14px/1.29 'DM Sans', sans-serif;
    letter-spacing: -0.56px;
    color: var(--text-color);
    background-color: var(--main-background);
}

header {
    height: 64px;
}

@media only screen and (min-width: 768px) {
    header {
        height: 72px;
    }
}

.scroll-lock {
    overflow: hidden;
}

.container {
    margin-inline: auto;
    display: flex;
    padding-inline: 15px;
    max-width: 375px;
    gap: 40px;
}

@media only screen and (min-width: 375px) {
    .container {
        padding-inline: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-inline: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-inline: 24px;
    }
}

@media only screen and (max-width: 1440px) {
  .library .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .container {
    gap: 100px;
  }
}

.popup-backdrop {
    background-color: var(--popup-backdrop);
}