/* категорії */

/* both categories & support funds container  */
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* mobile */
.categories-container {
  width: 335px;
  height: 228px;

  /* overflow-x: hidden; */
  overflow-y: scroll;
}

.categories-container::-webkit-scrollbar {
  width: 8px;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-container {
    width: 337px;
    height: 472px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-container {
    width: 356px;
  }
}

/* mobile */
.categories-elements {
  width: 307px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-elements {
    width: 309px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-elements {
    width: 328px;
  }
}

/* mobile */
.categories-list {
  height: 18px;

  font-size: 16px;
  color: var(--category);
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;

  padding-bottom: 24px;
}

/* tablet & desktop */
@media only screen and (min-width: 768px) {
  .categories-list {
    height: 24px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;

    padding-bottom: 32px;
  }
}

.categories-list:last-child {
  padding-bottom: 0px;
}

.categories-list:hover,
.categories-list:focus {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--brand-color);

  text-transform: uppercase;
}

.active {
  height: 24px;
  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;
  color: var(--active-category);
}
