.nav-container {
    height: 64px;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    background: var(--popup-bg);
}

.header-home .index-link,
.shop-list-header .shop-page-link {
    background-color: var(--accent-color);
    border-radius: 36px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item,
.site-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    gap: 14px;
}

.nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 36px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    background-color: var(--accent-color);
}

.ico-burger {
    stroke: currentColor;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ico-burger:hover,
.ico-burger:focus {
    stroke: var(--brand-color);
}

.main-nav-block {
    margin-left: 34px;
    margin-right: 80px;
}

.shopping-bag {
    margin-left: 3px;
}

@media screen and (min-width: 375px) {
    .nav-container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .nav-container {
        width: 768px;
        height: 72px;
        padding: 0 32px;
    }

    .tab-hidden {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .nav-container {
        width: 1440px;
        padding: 0 24px;
    }

    .main-nav-block {
        margin-left: 76px;
        margin-right: 725px;
    }
}

@media screen and (max-width: 767px) {
    .mob-hidden {
        display: none;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top,
            rgba(220, 220, 220, 1),
            rgba(79, 46, 232, 1));
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-image: linear-gradient(to top,
            rgba(104, 104, 104, 1),
            rgba(79, 46, 232, 1));
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-acc {
    display: flex;
    justify-content: space-around;
    padding: 12px 4px;
    align-items: center;
    width: 184px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 36px;
    border-color: transparent;
    background: var(--brand-color);
    margin-left: 24px;
}

.user-name {
    color: var(--text-color);
    font-size: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    margin-right: 4px;
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
}

.nav-burger {
    fill: currentColor;
    stroke: currentColor;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-burger:hover,
.nav-burger:focus {
    stroke: var(--brand-color);
}

.burger-menu.show {
    display: block;
}

.nav-container-menu {
    height: 64px;
    padding: 18px 20px;
    margin: 0 auto;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    background: #fff;
    position: relative;
    z-index: 3;
}

.nav-list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item-menu {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-main-part {
    position: relative;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%,
            #4f2ee8 18.03%,
            #fff 100%);
    width: 100%;
    height: 100%;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -8px;
}

.menu-name {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    margin-left: 68px;
}

.name-menu-home {
    border-radius: 36px;
    background: var(--accent-color);
    padding: 8px 16px;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    color: #111;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.name-shoping-list-modal {
    color: #fff;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.nav-link-menu {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 36px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-menu:hover {
    background-color: var(--accent-color);
}


.shopping-bag-menu {
    margin-left: 4px;
}

.swg.shopping-bag.swg-shopping:hover,
.swg.shopping-bag.swg-shopping:focus {
    fill: #111111;
    transform: scale(1.2);
}

.name-menu-home:hover,
.name-menu-home:focus {
    background: var(--accent-color);
}

.menu-nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    top: 183px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
}

.logout-button {
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #fff;
    color: #111;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    cursor: pointer;
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    position: relative;
    z-index: 5;
}

.logout-container {
    position: absolute;
    bottom: 54px;
    left: 0;
    margin: 20px;
    z-index: 4;
}

.swg-shopping {
    fill: #fff;
}

.overlay-image {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    display: block;
    max-height: calc(100% - 215px);
}



.darkmode .active {
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--active-category);
}


.darkmode body {
    background-color: #202024;
}


.darkmode .categories-list {
    color: white;
}

.darkmode .nav-list {
    background-color: #111111;
    color: #ffffff;
}

.darkmode .nav-link {
    color: #ffffff;
}

.darkmode .swg {
    fill: #ffffff;
    stroke: #ffffff;
}

.darkmode .logo-bookshelf {
    stroke: #ffffff;
    fill: #ffffff;
}

.darkmode .best-sellers {
    color: #ffffff;
}

.darkmode .btn-category {
    background-color: #202024;
    color: #ffffff;
}

.darkmode .book-title {
    color: #ffffff;
}

.darkmode .category-item {
    color: #ffffff;
}

.darkmode .current-category {
    color: var(--accent-color);
}

.darkmode .empty-shopping-list-msg {
    color: #ffffff;
}

.darkmode .popup-modal {
    background-color: #202024;
}

.darkmode .popup-modal-close {
    color: #ffffff;
}

.darkmode .book-title-pop {
    color: #ffffff;
}

.darkmode .book-information {
    color: #ffffff;
}

.darkmode .add-to-list-button {
    color: #ffffff;
}

.darkmode .book-adding-text {
    color: rgba(255, 255, 255, 0.5);
}

.darkmode .book-card-title {
    color: #ffffff;
}

.darkmode .book-card-description {
    color: #ffffff;
}

.darkmode .fix-amazon {
    stroke: #ffffff;
    filter: brightness(0) invert(1);
}

.darkmode .popup-modal {
    border: 2px solid;
    border-color: #ffffff;
}

.darkmode .topbook-title {
    color: #b4afaf;
}

.darkmode .book-author {
    color: #b4afaf;
}

.darkmode .book-card-author {
    color: #b4afaf;
}

.darkmode .book-card-category {
    color: #b4afaf;
}

.darkmode .category-link-text {
    color: #ffffff;
}