.category-list {
    list-style: none;

}

.category-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-for-genre {
    display: inline-block;
    margin-bottom: 40px;

}

.main-title,
.main-title-span {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -1.28px;
}

.main-title {
    color: --text-color;
    margin-bottom: 40px;
}

.main-title-span {
    color: --brand-color;
}

.list-name {
    color: --second-text-card;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.img {
    width: 335px;
    height: 485px;
    border-radius: 8px;
}


.book-title {
    color: --text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
    text-transform: uppercase;

    margin-top: 14px;
    margin-bottom: 4px;

}

.book-auhtor {
    color: --second-text-card;
    font-size: 12px;
    font-style: italic;
    line-height: 1.16;
    letter-spacing: -0.48px;
}



.link {
    text-decoration: none;
}

.btn-see-more {
    color: --text-color;
    font-weight: 700;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid --brand-color;
    padding: 14px 28px;
    float: right;
    margin-top: 8px;

}

.wrapper:not(:first-child) {
    display: none;
}


@media screen and (min-width: 428px) {

    .category-wrapper {
        max-width: 428px;
        margin: 0 auto;
    }


}

@media screen and (min-width: 768px) {
    .img {
        width: 218px;
        height: 316px;
    }

    .wrapper:not(:first-child) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .category-list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .category-wrapper {
        max-width: 704px;
    }


    .main-title,
    .main-title-span {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }

    .button {
        margin-top: 20px;
    }
}


@media screen and (min-width: 1280px) {}

/*------------ Катя - добавила ---------------*/
.items-is-hidden {
    display: none;
}

.btn-see-more.is-hidden {
    display: none;
}

#btn-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    /* fill: #fff; */
}

.cork-wraper-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 385px;
    height: 485px;
    border-radius: 8px;
    background: #FFF;
}

.cork-use {
    width: 88px;
    height: 80px;
    fill: var(--brand-color);

}

.cork-text {
    margin-top: 20px;
    text-align: center;
}